/* LEFT GRID BG */
.left-grid {
  background-image:
    linear-gradient(rgba(201,185,154,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(201,185,154,0.03) 1px, transparent 1px);
  background-size: 40px 40px;
}

/* INPUT */
.input {
  width: 100%;
  padding: 12px;
  background: #161719;
  border: 1px solid #1E1F23;
  border-radius: 8px;
  color: white;
}

.input:focus {
  border-color: #C9B99A;
  outline: none;
}

/* BUTTON */
.submit-btn {
  width: 100%;
  padding: 12px;
  background: #F5F0E8;
  color: black;
  border-radius: 8px;
  font-weight: 600;
}

.social-btn {
  width: 100%;
  padding: 10px;
  background: #161719;
  border: 1px solid #1E1F23;
  border-radius: 8px;
}

/* DIVIDER */
.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8A8780;
  font-size: 12px;
}
.divider::before,
.divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #1E1F23;
}

/* ERROR */
.error {
  background: rgba(248,113,113,0.1);
  border: 1px solid rgba(248,113,113,0.3);
  padding: 10px;
  border-radius: 6px;
  color: #F87171;
}

/* PASSWORD BAR */
.strength-bar {
  height: 100%;
  width: 0%;
  transition: 0.3s;
}

/* USERNAME STATUS */
.username-status {
  font-size: 11px;
  display: none;
}

/* Wrapper */
.logo-wrap {
  position: relative;
  width: 40px;
  height: 40px;
}

.logo-core {
  width: 100%;
  height: 100%;
  border: 1px solid #C9B99A;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Glowing dot */
.dot {
  width: 8px;
  height: 8px;
  background: #C9B99A;
  border-radius: 50%;
  box-shadow: 0 0 10px #C9B99A;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% { box-shadow: 0 0 6px #C9B99A; }
  50% { box-shadow: 0 0 18px #C9B99A; }
}

.orbit-ring {
  position: absolute;
  inset: -6px;
  border: 1px dashed #C9B99A55;
  border-radius: 50%;
  animation: rotateRing 6s linear infinite;
}

@keyframes rotateRing {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.orbit-ring::before {
  content: '🌕';
  position: absolute;
  /* width: 6px;
  
  height: 6px; */
  background: transparent;

  /* background: #000000; */
  /* border-radius: 50%; */
  top: -3px;
  left: 50%;

  transform: translateX(-50%);
}